@CHARSET "UTF-8";
/*notice list*/
.con{position: relative;width: 100%;     float: left; background-color: pink}
.serch-group{position: relative;display: block; float: left;}
.serch-group select {float: left;width: 84px;margin-left: 10px;}
.serch-group input[type=text] {float: left;width: 200px;margin: 0 5px;}
.table-responsive{ position: relative; margin: 0 auto; width: 100%}
.table-responsive .table tr th, .table-responsive .table tr td {text-align: center;}
#write{display: block;float: right;}
#paging{text-align: center;}
/*notice list*/

/*notice edit*/
/*div#writeForm{position: relative; width: 500px;margin: 30px auto 15px;padding: 20px 5px;background: pink;}
notice edit*/

/*notice btn css*/
.form-group{margin-bottom: 5px;}
/*notice btn css*/