@CHARSET "UTF-8";
/*notice list*/
.con {position: relative;width: 100%;float: left;background-color: pink}
#service_area{position: relative;width: 100%;margin: 30px auto 15px; float: left;}
.serch-group {position: relative;display: block;float: left;}
.serch-group select {float: left;width: 84px;margin-left: 10px;}
.serch-group input[type=text] {float: left;width: 200px;margin: 0 5px;}
.table-responsive {position: relative;margin: 0 auto;width: 100%}
.table-responsive .table tr th, .table-responsive .table tr td {text-align: center;}

#write {display: block;float: right;}

#paging {text-align: center;}
/*notice list*/

.form-group {margin-bottom: 5px;}
.download{vertical-align: middle;font-size: 16px;cursor:pointer}
.download:hover {font-weight: bold;}
.download span{margin-right: 5px;}

#fileList div{margin-bottom: 5px; text-indent: 5px;}

/*파일 업로드 드롭 영역*/
.uploadScope {outline: 2px dashed #92b0b3; text-align: center;transition: all .15s ease-in-out;width: 100%; background-color: gray;padding: 10px 0;margin: 10px 0 20px;}

