<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- Appenders -->
	<springProfile name="console-debug">
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d %5p [%c] %m%n</pattern>
			</encoder>
		</appender>
	</springProfile>

	<springProfile name="console-info">
		<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>%d %5p %m%n</pattern>
			</encoder>
		</appender>
	</springProfile>

	<!-- 개발환경이랑 운영환경 로그 분리 -->
	<springProfile name="dev">
		<logger name="board" level="DEBUG" appender-ref="console-debug" />
		<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-info" />
		<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-info" />
	</springProfile>

	<springProfile name="production">
		<logger name="board" level="ERROR" appender-ref="console-debug" />
	</springProfile>

	<!-- 로거 -->
	<root level="off">
		<appender-ref ref="INFO" />
	</root>

</configuration>