<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<!-- <configuration debug="true" scan="true" scanPeriod="1 seconds"> -->
<configuration debug="true">
	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p [%c] %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p %m%n</pattern>
		</encoder>
	</appender>	
	
	<!-- 로거 -->
	<logger name="study" level="ERROR" appender-ref="console" />
	
	<logger name="jdbc.sqlonly" level="ERROR" appender-ref="console-infolog" />
	<logger name="jdbc.resultsettable" level="ERROR" appender-ref="console-infolog" />

	<root level="off">
		<appender-ref ref="INFO" />
	</root>

</configuration>